{{define "Homepage"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/layout.css">
</head>
<body>

    <a href="/post">add post</a>
        {{range $post := . }}

            <h1>User ID: {{$post.userID}}</h1>
            <h3>User title: {{$post.title}}</h3>
            <h3>User category: {{$post.category}}</h3>
            <h3>Content: {{$post.body}}</h3>
            <a href="/comments">view comments</a>
            <br>
            <hr>
            
        {{end}}
        
        <a href="/">Back home</a>
<form method="POST" action="/homepage">
    
</form>
</body>
</html>

{{end}}
