{{define "Register"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/layout.css">
</head>
<body>
    <h1>Register your name to receive emails</h1>

    {{.}}
    
    <a href="/">Back home</a>
    <form action="/register" method="POST">
        <div >
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="confirmation">
        <input type="submit" value="register">
    </div>
    </form>
</body>
</html>
{{end}}