{{define "startpage"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/layout.css">
</head>
<body>
    <h1>Welcome to our forum</h1>
    <a href="/homepage">Posts</a>
    <br><br>
    <a href="/register">Register now</a>
    <br><br>
    <a href="/login">Log in now</a>
    <br><br>
    <a href="/logout">Sad to see you go</a>
  
 
</body>
</html>

{{end}}